{% from 'utilities/variant_filtering.jst' import filter_variants with context %}

{% macro sigprofiler(pair, vcf_prefix, variant_caller, aligner) %}

{% set temp_dir %}temp/{{ pair.gltype }}/metrics/sigprofiler/{{ pair.name }}{% endset %}
{% set temp_vcf_dir %}{{ temp_dir }}/vcfs{% endset %}
{% set results_dir %}{{ pair.gltype }}/metrics/sigprofiler/{{ pair.name }}{% endset %}
{% set all_vcf %}{{ vcf_prefix }}.vcf.gz{% endset %}
{% set filt_vcf %}{{ temp_vcf_dir }}/{{ vcf_prefix|basename }}.pass.vcf{% endset %}

{% set task %}sigprofiler_{{ variant_caller }}_{{ pair.name }}_{{ aligner }}{% endset %}
{{- filter_variants(pair, all_vcf, temp_vcf_dir, filt_vcf, task) }}

- name: sigprofiler_{{ variant_caller }}_{{ pair.name }}_{{ aligner }}
  tags:
  input:
    - {{ filt_vcf }}
  output:
    - {{ results_dir }}/SBS/{{ pair.name }}.SBS6.all
    - {{ results_dir }}/SBS/{{ pair.name }}.SBS18.all
    - {{ results_dir }}/SBS/{{ pair.name }}.SBS24.all
    - {{ results_dir }}/SBS/{{ pair.name }}.SBS96.all
    - {{ results_dir }}/SBS/{{ pair.name }}.SBS288.all
    - {{ results_dir }}/SBS/{{ pair.name }}.SBS384.all
    - {{ results_dir }}/SBS/{{ pair.name }}.SBS1536.all
    - {{ results_dir }}/SBS/{{ pair.name }}.SBS4608.all
    - {{ results_dir }}/SBS/{{ pair.name }}.SBS6144.all
    - {{ results_dir }}/ID/{{ pair.name }}.ID28.all
    - {{ results_dir }}/ID/{{ pair.name }}.ID83.all
    - {{ results_dir }}/ID/{{ pair.name }}.ID96.all
    - {{ results_dir }}/ID/{{ pair.name }}.ID332.all
    - {{ results_dir }}/ID/{{ pair.name }}.ID415.all
    - {{ results_dir }}/ID/{{ pair.name }}.ID8628.all
    - {{ results_dir }}/DBS/{{ pair.name }}.DBS78.all
    - {{ results_dir }}/DBS/{{ pair.name }}.DBS150.all
    - {{ results_dir }}/DBS/{{ pair.name }}.DBS186.all
    - {{ results_dir }}/DBS/{{ pair.name }}.DBS1248.all
    - {{ results_dir }}/DBS/{{ pair.name }}.DBS2400.all
    - {{ results_dir }}/DBS/{{ pair.name }}.DBS2976.all
  walltime: "24:00:00"
  cpus: 10
  mem: 8G
  cmd: |
    set -eu
    set -o pipefail

    module load {{ constants.tools.sigprofiler.module }}
    module load {{ constants.tools.bcftools.module }}

    {# Remove previously generated matrix #}
    rm -r {{ temp_dir }}/vcfs/*/ || true

    {# Should already exist #}
    mkdir -p {{ temp_dir }}/vcfs
    mkdir -p {{ results_dir }}

    python3 ${JS_PIPELINE_PATH}/required_scripts/{{ constants.coyote.sigprofiler }} \
      --threads 10 \
      --vcfpath {{ temp_dir }}/vcfs \
      --output {{ temp_dir }} \
      --project {{ pair.name }} \
      --genome dog \
      --matrix_only

    {# It's possible for no signatures to be found, so we need an if statement to check for output #}
    if [ "$(ls -A {{ temp_dir }}/vcfs/output)" ]; then
      {# Prepare the known useful output #}
      {# rsync -R copies the relative path after the /./ section #}
      if [ -d "{{ temp_dir }}/vcfs/output/SBS" ]; then
      rsync -R --remove-source-files {{ temp_dir }}/vcfs/output/./SBS/{{ pair.name }}.SBS6.all {{ results_dir }}
      rsync -R --remove-source-files {{ temp_dir }}/vcfs/output/./SBS/{{ pair.name }}.SBS18.all {{ results_dir }}
      rsync -R --remove-source-files {{ temp_dir }}/vcfs/output/./SBS/{{ pair.name }}.SBS24.all {{ results_dir }}
      rsync -R --remove-source-files {{ temp_dir }}/vcfs/output/./SBS/{{ pair.name }}.SBS96.all {{ results_dir }}
      rsync -R --remove-source-files {{ temp_dir }}/vcfs/output/./SBS/{{ pair.name }}.SBS288.all {{ results_dir }}
      rsync -R --remove-source-files {{ temp_dir }}/vcfs/output/./SBS/{{ pair.name }}.SBS384.all {{ results_dir }}
      rsync -R --remove-source-files {{ temp_dir }}/vcfs/output/./SBS/{{ pair.name }}.SBS1536.all {{ results_dir }}
      rsync -R --remove-source-files {{ temp_dir }}/vcfs/output/./SBS/{{ pair.name }}.SBS4608.all {{ results_dir }}
      rsync -R --remove-source-files {{ temp_dir }}/vcfs/output/./SBS/{{ pair.name }}.SBS6144.all {{ results_dir }}
      fi
      if [ -d "{{ temp_dir }}/vcfs/output/ID" ]; then
      rsync -R --remove-source-files {{ temp_dir }}/vcfs/output/./ID/{{ pair.name }}.ID28.all {{ results_dir }}
      rsync -R --remove-source-files {{ temp_dir }}/vcfs/output/./ID/{{ pair.name }}.ID83.all {{ results_dir }}
      rsync -R --remove-source-files {{ temp_dir }}/vcfs/output/./ID/{{ pair.name }}.ID96.all {{ results_dir }}
      rsync -R --remove-source-files {{ temp_dir }}/vcfs/output/./ID/{{ pair.name }}.ID332.all {{ results_dir }}
      rsync -R --remove-source-files {{ temp_dir }}/vcfs/output/./ID/{{ pair.name }}.ID415.all {{ results_dir }}
      rsync -R --remove-source-files {{ temp_dir }}/vcfs/output/./ID/{{ pair.name }}.ID8628.all {{ results_dir }}
      fi
      if [ -d "{{ temp_dir }}/vcfs/output/DBS" ]; then
      rsync -R --remove-source-files {{ temp_dir }}/vcfs/output/./DBS/{{ pair.name }}.DBS78.all {{ results_dir }}
      rsync -R --remove-source-files {{ temp_dir }}/vcfs/output/./DBS/{{ pair.name }}.DBS150.all {{ results_dir }}
      rsync -R --remove-source-files {{ temp_dir }}/vcfs/output/./DBS/{{ pair.name }}.DBS186.all {{ results_dir }}
      rsync -R --remove-source-files {{ temp_dir }}/vcfs/output/./DBS/{{ pair.name }}.DBS1248.all {{ results_dir }}
      rsync -R --remove-source-files {{ temp_dir }}/vcfs/output/./DBS/{{ pair.name }}.DBS2400.all {{ results_dir }}
      rsync -R --remove-source-files {{ temp_dir }}/vcfs/output/./DBS/{{ pair.name }}.DBS2976.all {{ results_dir }}
      fi
    else
      echo "No signatures found"
    fi

{% endmacro %}
